<h1>Editing comment</h1>

<%= render 'form' %>

<%= link_to 'Show', [@university, @campus, @complaint, @comment] %> |
<%= link_to 'Back', university_campus_complaint_comments_path(@university, @campus, @complaint) %>
