<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="myModalLabel">Nuevo Edificio</h3>
</div>


<%= render 'form' %>

<%= link_to 'Back', university_campus_buildings_path(@building.campus.university, @building.campus) %>
