<div id="error_500_container" class="server_error_container span3">
<h1 id="error_500_title" class="server_error_title">500
	<br><span>Error interno del servidor</span>
</h1>
<h2 id="error_500_caption" class="server_error_caption">Lo sentimos, algo ha fallado</h2>
</div>
<div id="error_500_img" class="server_error_img"></div>
