<div id="error_404_container" class="server_error_container span3">
<h1 id="error_404_title" class="server_error_title">404
	<br><span>Página no encontrada</span>
</h1>
<h2 id="error_404_caption" class="server_error_caption">Ups, parece que te has perdido!</h2>
</div>
<div id="error_404_img" class="server_error_img"></div>
