/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


div#error_explanation{
	background-color: #f2dede;
	border-color: #eed3d7;
	color:#b94a48;
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #fbeed5;
    border-radius: 4px;
}

div.field_with_errors{
	color: #b94a48;
	background-color: #FFF;

}

div.field_with_errors input{

border-color: #b94a48;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

}


div.field_with_errors input:focus{

border-color: #953b39;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #d59392;

}

label.message{
	font-size: 13px;
}