<h1>Editing complaint_type</h1>

<%= render 'form' %>

<%= link_to 'Show', [@complaint_type.university, @complaint_type] %> |
<%= link_to 'Back', university_complaint_types_path(@complaint_type.university) %>
